.menu-modal {
  position: fixed;
  top: 60px;
  right: 10px;
  width: 560px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px lightgray;
  background-color: #f7f7fa;
  padding: 20px;
  box-sizing: border-box;
  display: none;
}
.menu-modal > span {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}
.social {
  width: 280px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 0px 3px 0px lightgray;
  padding: 15px;
  margin-right: auto;
}
.modal-search-box {
  width: 241px;
  background-color: #f2f2f2;
  border-radius: 20px;
  height: 38px;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.modal-search-box > input {
  width: 200px;
  margin-left: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
}
.social > span {
  margin-right: auto;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: px;
  margin-left: 5px;
}
.social > li > img {
  margin-right: 5px;
}
.social > li {
  border-radius: 8px;
  list-style: none;
  padding-top: 5px;
  padding-bottom: 13px;
  width: 100%;
  padding-top: 13px;
  cursor: pointer;
}
.social > li:hover {
  background-color: #f2f2f2;
}
.social > li > div > span:last-child {
  font-size: 12px;
  color: grey;
}
.social > li > div > span:first-child {
  font-size: 14px;
  font-weight: 600;
}
.social > li > div {
  align-items: flex-start;
  margin-right: auto;
}
.modal-create {
  width: 212px;
  background-color: white;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 0px 3px 0px lightgray;
  padding: 10px;
  margin-left: 20px;
  box-sizing: border-box;
}
.modal-create > span {
  font-size: 20px;
  font-weight: bold;
  margin-left: 3px;
  margin-right: auto;
  margin-bottom: 5px;
}
.modal-create > li > div > img {
  background-color: #e4e6eb;
  width: 22px;
  height: 22px;
  overflow: hidden;
  border-radius: 50%;
  padding: 5px;
}
.modal-create > li > div {
  margin-right: auto;
}
.modal-create > li > div > span {
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
}
.modal-create > li:hover {
  background-color: #f2f2f2;
}
.modal-create > li {
  width: 180px;
  height: 52px;
  border-radius: 8px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  list-style-type: none;
}
.menu-blue {
  background-image: url(image/gnb/10.png);
}
.menu-white {
  background-image: url(image/gnb/6.png);
}
.account-modal {
  background-color: white;
  position: fixed;
  top: 60px;
  right: 10px;
  width: 360px;
  box-shadow: 0px 0px 10px 0px lightgray;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 8px;
  display: none;
}
.account-info {
  width: 331px;
  box-shadow: 0px 0px 10px 0px lightgray;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 15px;
}
.account-profile > div {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #f2f2f2;
  margin-right: 8px;
}
.account-profile > span {
  margin-right: auto;
}
.account-profile {
  width: 100%;
  border-radius: 8px;
}
.account-profile:hover {
  background-color: #f2f2f2;
}
.account-info > div:last-child {
  color: #1876f2;
  align-items: flex-start;
  height: 28px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
}
.account-info > div {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
.account-info > div:hover {
  background-color: #f2f2f2;
}
.account-modal > li {
  width: 344px;
  height: 52px;
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
}
.account-modal > li:hover {
  background-color: #f2f2f2;
}
.account-modal > li > div {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: #e4e6eb;
}
.account-modal > li:hover > img {
  filter: brightness(0.95s);
}
.account-modal > li > div > img {
  border-radius: 100%;
}
.account-modal > li > span {
  font-size: 14px;
  margin-left: 10px;
  margin-right: auto;
}
.account-modal > li > img {
  width: 24px;
  height: 24px;
  background-color: #f2f2f2;
}
